
body {
    margin: 0;
    padding: 0;
    background: url('assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 15px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.slideshow p {
    font-size: 1.5em;
    animation: fade 2s ease-in-out infinite;
}

@keyframes fade {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
